/* DESKTOP */
@media (min-width: 768px) {

    /* Ocultar conteúdo específico para desktop */
    .mobile-only {
        display: none;
    }
}


/* MOBILE */
@media (max-width: 767px) {

    /* Ocultar conteúdo específico para mobile */
    .desktop-only {
        display: none;
    }

    .align-bloco5 {
        margin-left: 50px;
    }

    .title-mobile {
        color: rgb(83, 1, 116);
        font-family: 'Jost', sans-serif !important;
        font-weight: 500;
        margin-top: 400px;
    }

    .banner4 {
        background-image: url(../img/img-fundo-4-teste-programador.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
        position: relative;
    }


    .arrow-mobile {
        height: 40px;
        width: 30px;
        margin-top: 30px;
        transition: size 0.5s;
    }

    .arrow-mobile:hover {
        margin-left: 20px;
    }


    .arrow-mobile:hover,
    .arrow-mobile:not(:hover) {
        transition: margin-left 0.5s;
    }

    .divisor-bloco5-mobile{
        padding-bottom: 30px;
        width: 140px;
    }

    .align-arrows-mobile {
        padding: 100px 90px ;
    }

}